.MCPrincipal
{
position:absolute;
width: 800px;
margin-left: -400px;
left: 50%;
height: 100%;
z-index: 0;
}
.Buscador
{
   position:absolute;
   top:10px;
   left:0px;
   height:40px;
   width:100%;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding-top:5px;
   z-index: 1;
   
}

.Label
{
font-size:15px;
margin-left: 5px;
color: white;

}
.TextBox
{
width: 200px;
}

.Resultado
{
top:30px;
left:240px;;
position:absolute;
width: 300px;
background: #190707;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#190707));
   background: -webkit-linear-gradient(top, #3e779d, #190707);
   background: -moz-linear-gradient(top, #3e779d, #190707);
   background: -ms-linear-gradient(top, #3e779d, #190707);
   background: -o-linear-gradient(top, #3e779d, #190707);
}
.Item
{
   text-decoration:none;
   background: #A9A9F5;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#A9A9F5));
   background: -webkit-linear-gradient(top, #3e779d, #A9A9F5);
   background: -moz-linear-gradient(top, #3e779d, #A9A9F5);
   background: -ms-linear-gradient(top, #3e779d, #A9A9F5);
   background: -o-linear-gradient(top, #3e779d, #A9A9F5);
	
color: white;
cursor: default;
display: block;
margin-left: -5px;
}
.Item:hover
{
background: #A9A9F5;
   background: -webkit-gradient(linear, left top, left bottom, from(#D8D8D8), to(#A9A9F5));
   background: -webkit-linear-gradient(top, #D8D8D8, #A9A9F5);
   background: -moz-linear-gradient(top, #D8D8D8, #A9A9F5);
   background: -ms-linear-gradient(top, #D8D8D8, #A9A9F5);
   background: -o-linear-gradient(top, #D8D8D8, #A9A9F5);
color: black;
cursor: default;
display: block;
}

.TurnosPendientes
{
position:absolute;
top:10px;
left:0px;	
height: 280px;
width: 100%;
background-color: blue;
text-align: center;
-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;

background: #64FE2E;
background: -webkit-gradient(linear, left top, left bottom, from(#64FE2E), to(#0040FF));
background: -webkit-linear-gradient(top, #64FE2E, #0040FF);
background: -moz-linear-gradient(top, #64FE2E, #0040FF);
background: -ms-linear-gradient(top, #64FE2E, #0040FF);
background: -o-linear-gradient(top, #64FE2E, #0040FF);

z-index: 0;
}

 
