#galeriacontainer{
	margin-left:2%;
	display: block;
}

#galeriacontainer div{
	display: inline-block;
}
	
.prev{
	float:left;
	margin-top:65px;
	width:25px;
}

.next{
	float:right;
	margin-top:65px;
	width:25px;
}

#galeria{
    overflow: hidden;
    z-index: 2;
    position:absolute;
    margin-left:3%;
    width: 100%;
}

#galeria img{
	height:145px;
	width:170px;
}

#galeria ul{
    margin: 0pt;
    padding: 0pt;
    list-style-type: none;
    z-index: 1;
}

#galeria li{
    overflow: hidden;
    width: 170px;
    height: 145px;
}

#footer
{ width: 100%;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 33px;
  margin-top:10px;
  padding: 20px 0 5px 0;
  text-align: center; 
  background: #29425E;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: underline;}
