#galeriacontainer{
	margin-left:2%;
	display: block;
}

#galeriacontainer div{
	display: inline-block;
}
	
.prev{
	float:left;
	margin-top:65px;
	width:25px;
}

.next{
	float:left;
	margin-top:65px;
	width:25px;
}

#galeria{
    overflow: hidden;
    z-index: 0;
    float:left;
    width: 90%;
    height:auto;
    margin-left:1%;
    margin-right:2%;
}

#galeria img{
	height:145px;
	width:170px;
}

#galeria ul{
    margin: 0pt;
    padding: 0pt;
    list-style-type: none;
    z-index: 1;
}

#galeria li{
    overflow: hidden;
    width: 170px;
    height: 145px;
    list-style-type: circle;
	margin: 0 0 6px 0;
	padding: 0 0 4px 5px;
}