#MenuPrincipal
{
	width: 1024px;
	height: 100%;
	position: absolute;
	background-color: white;
	left: 50%;
	margin-left: -512px;
}
#MisTurnos
{
width: 500px;
height: 500px;
position: absolute;
left:6px;
text-align:center;
border-color:black;
border-style:solid;
background-color: white;
}

#MiClinica
{
width: 500px;
height: 500px;
position: absolute;
left:516px;
text-align:center;
border-color:black;
border-style:solid;
background-color: white;
}